.main {
  margin: auto;
  width: 60%;
  border: 1px solid #808080;
  padding: 10px;
}
.wrapper {
  width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}
.tag {
  width:50%;
  height:15vh;
}
.quote {
  width:100%;
  height:auto;
}
.ml-70 {
  margin-left: 70%;

}
.block {
    display: block;
    float: left;
    width: 50%;
    border: none;
    border-style: outset;
    background-color: #00acee;
    color: black;
    padding: 18px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }
  
.block:hover {
    background-color: #ADD8E6;
    color: black;
}